extends layout

block content
  if error
    .alert= error.replace(/\+/g, ' ')
  .card
    h2 Sign in
    form(method="post" action="/signin")
      label(for="email") Email
      input(type="email" name="email" id="email" required)
      label(for="password") Password
      input(type="password" name="password" id="password" required)
      button(type="submit") Sign in
    p.or Continue with
    .oauth-buttons
      a.button.google(href="/auth/google")
        span.icon.google-icon
        | Sign in with Google
      a.button.microsoft(href="/auth/microsoft")
        span.icon.microsoft-icon
        | Sign in with Microsoft
    p
      | Don't have an account? 
      a(href="/signup") Sign up
